.index-label-info-old {
    line-height: 20px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    color: #595959;
}

.index-label-info {
    height: 24px;
    width: 170;
    margin-left: 10px;
    margin-right: 34px;
    margin-top: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #737373;
}