.home-title {
    margin: 117px 740px 24px 120px;
    width: 580px;
    height: 128px;
    left: 120px;
    top: 179px;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #062847;
}

.home-subtitle {
    margin-right: 708px;
    margin-left: 120px;
    width: 612px;
    height: 216px;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    color: #5A6774;
}

.home-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 101px;
    height: 40px;
    margin-top: 50px;
    margin-left: 120px;
    background: #1890FF;
    border-radius: 4px;
}

.home-button-text {
    color: #FFF;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}