.search-card-container {
    margin: 54px 99px 54px 90px;
    width: 1251px;
    height: 270px;
    background: #E6F7FF;
    border-radius: 16px;
}

.search-card-title {
    padding: 66px 655px 12px 94px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    color: #262626;
}

.search-card-input {
    width: 676px;
    height: 40px;
    margin-left: 94px;
    margin-right: 481px;
    display: flex;
    justify-content: left;
    justify-items: center;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
}

.search-card-input-text {
    padding: 8px 27px 8px 17px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #BFBFBF;
}

.search-card-button {
    width: 101px;
    height: 40px;
    margin: 24px 1056px 42px 94px;
    background: #1890FF;
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}